@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.body{
    background-image: linear-gradient(to left ,#F9DCC5 , #F3CE80);
}

h1{
    text-align: center;
}

#text{
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: black;
    text-decoration: none;
}

#mainLeft{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.section1{
    display: flex;
    flex-direction: column;
    max-width: 50%;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-width: 95%;
    max-width: 100%;
}

h3{
    font-size: 15px;
    color: #8E918F;
}

h2{
    color: #4C5762;
    text-decoration: underline;
}
